<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://srs-ai-pilot-fn-dmdyc4f7cradawa0.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/db69f2e6-3e3d-4b4b-a371-cf3c43f837d6/resourceGroups/rg-srs-ai-pilot/providers/Microsoft.Web/sites/srs-ai-pilot-fn</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://srs-ai-pilot-fn-dmdyc4f7cradawa0.scm.westus3-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>